# .gitlab-ci.yml
stages:
  - test

run_tests:
  stage: test
  image: python:3.9
  before_script:
    # Обновляем пакеты и ставим wget и unzip
    - apt-get update
    - apt-get install -y wget unzip
    # Скачиваем и устанавливаем Google Chrome
    - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    - apt-get install -y ./google-chrome-stable_current_amd64.deb
    # Устанавливаем зависимости Python
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python -m pytest tests/ -v
  only:
    - main
